/* styles for TP4 t-t-t project */

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');


:root{
    --GameBoardSize: 80vh;
    --GameBoardSpacer: 15px;
}

#GameBoard{
    position: relative;
    width: var(--GameBoardSize);
    height: var(--GameBoardSize);
    background-color: black;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--GameBoardSpacer);

}

.GameSpace{
    position: relative;    
    background-color: white;
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gravitas One', cursive;
    overflow: hidden;

}