body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightblue;

    background-image: url("../images/cloud.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.cloud-banner {
    height: 5vh;
    background-image: url("../images/cloud.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
}

/* Main weather container */
.weather-card {
    margin-top: 40px;
}

/* City name */
.city {
    font-size: 40px;
    margin-bottom: 5px;
}

/* Temperature */
.temp {
    font-size: 60px;
    font-weight: bold;
}

/* Forecast section spacing */
.forecast {
    margin-top: 20px;
}

.day {
    margin: 10px 0;
}